/.*
**/.idea/**
ec-common-service/.*
ec-common-service/target/**
ec-inventory-service/.classpath
ec-inventory-service/.factorypath
ec-inventory-service/.project
ec-inventory-service/.settings/**
ec-inventory-service/.DS_Store
ec-inventory-service/.DS_Store
ec-inventory-service/.DS_Store
ec-inventory-service/src/.DS_Store
ec-inventory-service/src/main/.DS_Store
ec-inventory-service/.DS_Store
ec-inventory-service/.DS_Store
ec-inventory-service/target/**
ec-inventory-service/.DS_Store
.DS_Store
**/**.class
**/**.classpath
**/target/**
**/logs/**
ec-crm-service/.settings/org.eclipse.wst.common.project.facet.core.xml
ec-crm-service/.settings/org.eclipse.wst.common.component
ec-crm-service/.settings/org.eclipse.jdt.core.prefs
ec-crm-service/.settings/org.eclipse.jdt.apt.core.prefs
ec-crm-service/.settings/org.eclipse.core.resources.prefs
ec-crm-service/.project
ec-crm-service/.factorypath
sc-common-service/src/main/java/com/ec/common/Configuration/EmailConstants.java
sc-common-service/src/main/resources/application-ec-local.properties
sc-common-service/src/main/resources/application-ec-prod.properties
sc-common-service/src/main/resources/application-ec-qa.properties
sc-common-service/src/main/resources/application-sc-local-new.properties
sc-common-service/src/main/resources/application-sc-local.properties
sc-common-service/src/main/resources/application-sc-prod-new.properties
sc-common-service/src/main/resources/application-sc-prod.properties
sc-common-service/src/main/resources/application-sc-qa.properties
sc-common-service/src/main/resources/application.properties
sc-common-service/src/main/resources/evergreencity-6ff7c-firebase-adminsdk-cx0k3-a56675af62.json
sc-common-service/src/main/resources/evergreencity-6ff7c-firebase-adminsdk-cx0k3-f73f38a43b.json
sc-common-service/target/classes/application.properties
sc-crm-service/src/main/java/com/ec/crm/ReusableClasses/ProjectConstants.java
sc-crm-service/src/main/resources/application-ec-local.properties
sc-crm-service/src/main/resources/application-ec-prod.properties
sc-crm-service/src/main/resources/application-ec-qa.properties
sc-crm-service/src/main/resources/application-sc-local.properties
sc-crm-service/src/main/resources/application-sc-prod.properties
sc-crm-service/src/main/resources/application-sc-qa.properties
sc-crm-service/src/main/resources/application.properties
sc-inventory-service/src/main/java/com/ec/application/config/EmailConstants.java
sc-inventory-service/src/main/java/com/ec/application/config/ProjectConstants.java
sc-inventory-service/src/main/resources/application-ec-local.properties
sc-inventory-service/src/main/resources/application-ec-prod.properties
sc-inventory-service/src/main/resources/application-ec-qa.properties
sc-inventory-service/src/main/resources/application-sc-local-new.properties
sc-inventory-service/src/main/resources/application-sc-local.properties
sc-inventory-service/src/main/resources/application-sc-prod-new.properties
sc-inventory-service/src/main/resources/application-sc-prod.properties
sc-inventory-service/src/main/resources/application-sc-qa.properties
sc-common-service/target/classes/application.properties
sc-common-service/target/classes/application.properties
sc-common-service/target/classes/application.properties
sc-crm-service/src/main/java/com/ec/crm/ReusableClasses/ProjectConstants.java
sc-crm-service/src/main/resources/application-ec-local.properties
sc-crm-service/src/main/resources/application-ec-prod.properties
sc-crm-service/src/main/resources/application-ec-qa.properties
